<h1 class='recipe-title center'>Write a recipe</h1>
<div class='container new-recipe'>
  <%= form_for @recipe, html: {class: 'form-group'} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'e.g. Baked Macaroni and Cheese' %>
    <br>

    <div class='new-ingredients-heading'>
      <strong>Ingredients:</strong>
      <button class='add-item btn btn-primary btn-sm' >+ ingredient</button>
    </div>

    <%= f.fields_for :ingredients, html: {class: 'form-inline'} do |ingredients_form| %>
      <div class='ingredient-field form-inline'>
        <%= ingredients_form.text_field :label, class: 'form-control', id: 'ingredient-input', placeholder: 'item' %>
        <a class='remove-ingredient glyphicon glyphicon-remove'></a>
      </div>
    <% end %> 

    <div class='recipe-procedure'>
      <%= f.label :procedure %>
      <textarea class='form-control' name='recipe[procedure]'></textarea>      
    </div>

    <%= f.submit "save recipe", class: "save-new-recipe btn btn-success" %>
  <% end %>
</div>




